* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
  transition: 1;
}
input {
  caret-color: red;
}
*:focus {
  outline: none;
}
*::-webkit-scrollbar {
  width: 0.5vw;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(160, 7, 32);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}
::placeholder {
  color: var(--font-color);
}


/* ----------------------Theme----------------------------------- */
.theme-light {
  --color-primary: #08313a;  
  --modal-color: rgb(22 28 34);
  --font-color: #000000;
  --input-color: white;
  --backdrop--color: rgba(255, 255, 255, 0.3);
  --container-color: white;
  --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  --task-background: white;
  --text: white;
}
.theme-dark {
  --color-primary: black;  
  --modal-color: white;
  --font-color: rgb(191, 186, 186);
  --input-color: black;
  --backdrop--color: rgba(0, 0, 0, 0.3);
  --container-color: gray;
  --box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.25);
  --task-background: rgb(52, 49, 49);
  --text: black;
}

body {
  background-color: var(--color-primary);
  font-family: "Inter", sans-serif;   
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 50px;
  margin-top: 20px;  
}
.container h2 {
  color: white;
}
.btn__add {
  padding: 4px 8px;
  color: #fbfbfe;
  background-color: transparent;
  border: solid rgb(171, 168, 168) 1px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 30px;
}
.btn__add span {
  margin-right: 10px;
}
.btn__add:hover {
  transform: scale(1.1);
  color: white;
  border-color: white;
}

/* Add Modal */
.modal {
  position: absolute;
  background-color: var(--modal-color);
  width: 300px;
  min-width: 200px;
  top: 40%;
  left: 40%;
  right: 50%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 0.5s;
  z-index: 1024;
  transform: scale(0);
}
.modal input {
  background-color: var(--input-color);
  color: var(--font-color);
}
.show__modal {
  transform: scale(1);
}
.preview {
  transform: scale(1);
  color: white;
}
.preview__modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 25px;
  padding-right: 10px;
  color: var(--text)
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.btn {
  width: 75px;
  height: 26px;
  border-style: none;
  color: rgb(171, 168, 168);
  background-color: rgb(160, 7, 32);
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1.17rem;
}
.btn:hover {
  transform: scale(1.1);
}
.error {
  color: red;
}

/* ---------------------------------Tasks--------------------------------- */
.blur {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop--color);
  backdrop-filter: blur(2px);
  transition: 1s;
}
.backdrop {
  transition: 1s;
}
.drop__zone__over {
  opacity: 0.5;
}

/* todo */
.todo__container {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px 32px;
  height: 100%;
}
.heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #08313a;
}
.swim-lane {
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  padding: 12px;
  border-radius: 4px;
  width: 225px;
  min-height: 120px;
  flex-shrink: 0;
  background-color: var(--container-color);
  box-shadow: var(--box-shadow);
}
.task {
  background: white;
  color: var(--font-color);
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: move;
  transition: 0.3s;  
  background-color: var(--task-background);
}
.is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: rgb(50, 50, 50);
  color: white;
  opacity: 0;
  transition: 3s;
}
.date {
  font-size: 10px;
  color: gray;
}
.description {
  font-size: 12px;
  color: gray;
  margin-top: 3px;
  margin-bottom: 3px;
}
.editbtn {
  height: 16px;
  width: 16px;
  margin-right: 13px;
  cursor: pointer;
}
.deletebtn {
  cursor: pointer;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.7rem;
}
.task:hover {
  transform: scale(0.95);
}
.progress {
  color: red;
}
.done {
  color: green;
}
.progress__container {
  background-color: red;
}
#add__focus {
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 10px;
  width: 90%;
}
#edit__focus {
  border-radius: 5px;
  padding-left: 5px;
  height: 30px;
  width: 90%;
}
.transition {
  transition: 0.8s;
}
.theme {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 1000px;
  height: 25px;
  width: 70px;
  border-radius: 50px;
  background-color: white;
}
.switch {
  height: 22px;
  width: 30%;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  background-color: black;
}
.position__theme {
  justify-content: end;
}
.details {
  margin-left: 8px;
  margin-right: 8px;
}
